.profileButton button {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color:#456E2A;
    color:#fff;
    font-size: 12px;
    font-weight: 330;
    cursor: pointer;
}

.profileButton button:hover {
    background-color:#DAE2D4;
}